mail.{$DOMAIN_NAME} {
    tls {
        issuer acme {
            email {$LETSENCRYPT_EMAIL}
       }
    }
    # Redirection HTTP vers HTTPS
    @http {
        protocol http
    }
    redir @http https://{host}{uri}

    reverse_proxy roundcube:80
}
